.testimony {
    max-width: 100vw;
    position: relative;
    margin-top: 20px;
  }
  .testimony-header{
    display: inline-block;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
   .testimony-header h1{
    display:inline-block;
    border-bottom:3px solid red;
    padding-bottom:8px;
    padding-right: 1.5em;
    text-indent: 1.5em;
  }
  .testimony h2,h3{
    border-bottom:3px none;
    text-indent: 1.5em;
  }