.h-container
{
    width: 100vw;
    height: 90vh;
    max-width: 100%;
    max-height: 100%;
    position: relative;
    background: radial-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5)),
    url('../../assets/Beautifulsea.jpg') no-repeat center center/cover;
}

.h-container::after
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.2);
    box-shadow: inset 4.375rem 3.125rem 11.875rem #000,
                inset -4.375rem -3.125rem -11.875rem;
}
.h-background
{
    position: absolute;
    background: no-repeat center cover;
    width: 100vw;
    height: 90vh;
    z-index: -1;
}

.h-top
{
    display: flex;
    position: relative;
    height: 10rem;
    z-index: 1;
}

.h-logo
{
    width: 10rem;
    height: 4.512rem;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.h-auth{
    right: 0;
    margin: 1.125rem 3% 0;
    padding: 0.4375rem 1.0625rem;
    position: absolute;
}

.dropdown-btn{
    right: 0;
    margin: 1.125rem 3% 0;
    padding: 0.4375rem 1.0625rem;
    position: absolute;
    translate: transform(-50%, -50%);
    cursor: pointer;
    transition: background 0.2s ease-in;
    color: white;
    text-decoration: none;
}

.dropdown-btn span{
    text-align: center;
    padding: 1.5rem;
    line-height: normal;
}

.signIn-btn
{
    right: 0;
    margin: 1.125rem 2rem 0;
    padding: 0.4375rem 1.0625rem;
    font-weight: 400;
    line-height: normal;
    border-radius: 0.1875rem;
    font-size: 1rem;
    background: #32a3b1;
    position: absolute;
    translate: transform(-50%, -50%);
    cursor: pointer;
    transition: background 0.2s ease-in;
    color: white;
    text-decoration: none;
}
.signIn-btn:hover
{
    background: #227b96;
    color: white;
    text-decoration: none;
}

.booknow
{
    right: 0;
    margin: 1.125rem 8rem 0;
    padding: 0.4375rem 1.0625rem;
    font-weight: 400;
    line-height: normal;
    border-radius: 0.1875rem;
    font-size: 1rem;
    background: #32a3b1;
    position: absolute;
    translate: transform(-50%, -50%);
    cursor: pointer;
    transition: background 0.2s ease-in;
    color: white;
    text-decoration: none;
}
.booknow:hover
{
    background: #227b96;
    color: white;
    text-decoration: none;
}

.h-content
{
    width: 60%;
    position: relative;
    margin: 4rem auto 0;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    flex-direction: column;
    z-index: 1;
}

.h-title
{
    margin: 0 0 1.2rem;
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.1em;
    color: white;
}

.h-subtitle
{
    font-weight: 400;
    font-size: 1.875rem;
    line-height: 1.25em;
    margin: 0 0 1.875rem;
    text-decoration: white;
    color: white;
}

@media (max-width: 1041px)
{
    .h-subtitle
    {
        font-size: 1.5rem;
    }
}
@media (max-width: 987px)
{
    .h-title
    {
        font-size: 4.5rem;
    }
}
@media (max-width: 892px)
{
    .h-content
    {
        width: 70%;
        margin: 3.5rem auto 0;
    }
    
    .h-title
    {
        font-size: 4rem;
    }
}

@media (max-width: 767px)
{
    .h-logo
    {
    left: 6.5rem;
    }
}