.pd-body
{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.sub
{
    text-align: center;
    margin: 30px 0;
    padding: 0;
    font-weight: 600;
    color: white;
}
.sub-text
{
    text-align: center;
    margin: auto;
    margin-top: -25px;
    padding: 0;
    font-size: 14px;
    width: 60%;
    color: white;   
}
.garis
{
    padding-top: 10px;
    border-bottom: 5px solid #32a3b1;
    width: 30%;
    margin: auto;
    border-radius: 50%;
}

.pd-slider
{
    width: 90%;
    margin: auto;
}

.pd-card
{
    position: relative;
    width: 300px;
    height: 450px;
    margin: 30px auto;
    padding: 10px;
    background: #0e0e0e;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
}
.pd-card .pd-poster
{
    position: relative;
    overflow: hidden;
}
.pd-card .pd-poster::before
{
    content: '';
    position: absolute;
    bottom: -140px;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #0e0e0e 50%, transparent);
    transition: 0.5s;
    z-index: 1;
}
.pd-card:hover .pd-poster::before
{
    bottom: 0;
}

.pd-card .pd-poster .pd-img
{
    width: 100%;
    transition: 0.5s;
}
.pd-card:hover .pd-poster .pd-img
{
    filter: blur(3px);
    transform: translateY(-50px);
}

.pd-details
{
    position: absolute;
    padding: 20px;
    width: 100%;
    height: 65%;
    bottom: -155px;
    left: 0;
    box-sizing: border-box;
    transition: 0.5s;
    z-index: 2;
}
.pd-card:hover .pd-details
{
    bottom: 0;
}


.pd-details h2
{
    color: white;
    margin: 0;
    padding: 0;
    font-size: 20px;
}
.pd-details h2 span
{
    font-size: 14px;
    color: #32a3b1;
}
.pd-rating
{
    position: relative;
    padding: 5px 0;
}
.pd-rating .pd-fa
{
    margin-right: 2px;
    color: #f7f406;
    font-size: 16px;
}
.pd-rating span
{
    color: white;
    padding: 0 5px;
}
.pd-tags
{
    position: relative;
    margin-top: 8px;
}
.pd-tags .pd-tags-land
{
    padding: 2px 5px;
    margin-right: 2px;
    color: white;
}
.pd-info
{
    color: white;
}
.pd-info p
{
    margin: 15px 0 10px;
}

/* screen */
@media (max-width: 669px)
{
    .sub
    {
        font-size: 36px;
    }
    .sub-text
    {
        width: 60%;   
    }
}
@media (max-width: 580px)
{
    .sub
    {
        font-size: 32px;
    }
    .sub-text
    {
        width: 80%;
        font-size: 12px;   
    }
}

@media (max-width: 524px)
{
    .pd-slider
    {
        width: 80%;
        margin: auto;
    }
}