.secontainer
{
    position: relative;
    width: 750px;
    height: 400px;
    margin : 100px auto 0px;
    align-content: center;
}

.inputgrp
{
    margin: 0px auto auto 0px;
}

.btnsearch
{
    margin: 0;
    padding: 0;
    width: 60px;
}

.searchform
{
    margin: 0;
    padding: 0 0 0 20px;
    width: 400px;
    font-size: 18px;
}