.sub
{
    text-align: center;
    margin: 30px 0;
    padding: 0;
    font-weight: 600;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.sub-text
{
    text-align: center;
    margin: auto;
    margin-top: -25px;
    padding: 0;
    font-size: 14px;
    width: 60%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;   
}
.garis
{
    padding-top: 10px;
    border-bottom: 5px solid #32a3b1;
    width: 30%;
    margin: auto;
    border-radius: 50%;
}

.tbody
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: -100px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.tcontainer
{
    position: relative;
    width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px;
}
.tcontainer .tbox
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 420px;
    margin: 20px;
    border-radius: 40px;
    box-shadow:  -6px -6px 20px rgba(0,0,0,1),
                  6px 6px 20px rgba(0,0,0,0.1);
}
.tcontainer .tbox:hover
{
    box-shadow:  inset -6px -6px 10px rgba(0,0,0,0.5),
                 inset  6px 6px 20px rgba(0,0,0,0.05);
}
.tcontainer .tbox .tcontent
{
    padding: 30px;
    text-align: center;
}
.tcontainer .tbox .tcontent .tquote
{
    font-size: 48px;
    color: white;
}
.tcontainer .tbox .tcontent p
{
    padding: 20px 0;
    color: white;
}
.tcontainer .tbox .tcontent .tuser
{
    max-width: 72px;
    border-radius: 50%;
}
.tcontainer .tbox .tcontent .tnama
{
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 700;
    margin: 20px;
    color: white;
}

@media (max-width: 1119px)
{
    .tbody
    {
        margin: 0px;
    }
    .tcontainer
    {
        justify-content: center;
    }
}

@media (max-width: 768px)
{
    .tcontainer .tbox
    {
        width: 100%;
        height: auto;
        padding: 30px 20px;
    }
}
@media (max-width: 669px)
{
    .sub
    {
        font-size: 36px;
    }
    .sub-text
    {
        width: 60%;   
    }
}
@media (max-width: 580px)
{
    .sub
    {
        font-size: 32px;
    }
    .sub-text
    {
        width: 80%;
        font-size: 12px;   
    }
}