.booking-header{
    margin-top: 80px;
    display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    min-height:600px;
    background: rgb(34,195,128);
    background: linear-gradient(180deg, rgba(34,195,128,1) 18%, rgba(255,255,255,1) 84%);
}

.booking-header .card{
    border: 0px;
    border-radius: 0px;
    box-shadow:0 4px 10px 0 rgba(0,0,0,.3);
    min-height: 300px;
    max-height: 700px;
}

.booking-header .card-body .h5{
    display:inline-block;
    border-bottom:2px solid red;
    padding-bottom:5px;
    padding-right: 0;
}

.booking-header .form-control{
    border: 1px solid black;
    border-radius: 0px;
}

.booking-header input[type="text"]{
    border: 1px solid black;
    border-radius: 0px;
}
.booking-header select{
    border: 1px solid black;
    border-radius: 0px;
}

.react-datepicker-wrapper{
    margin-top: 15px;
}

.booking-header .react-datepicker__input-container {
    position: relative;
    display: flex;
    width: 100%;
    margin-left: 56px;
}

.package-box{
    position: relative;
    margin-top: auto;
    border: 0.5px solid black;
    width: 100%;
    line-height: 0.0em;
    min-height: 170px;
}

.package-box h3{
    margin-right: -20px;
    font-weight: lighter;
    font-size: 20px;
}