.app-footer{
    margin-top: 3em;
    width: 100vw;
    background: url('../footer.png') no-repeat;
    background-size: cover; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    
}

.app-footer span{
    display: block;
    font-size: 20px;
}

.app-footer h2{
    letter-spacing: normal;
    border-bottom:none;
}